*{
    margin: 0;
    padding:0;
}
body{
    overflow-y: hidden;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: navy;
    color: white;
    
}
.header .menu ul{
    list-style-type: none;
    display: flex;
}
.header .menu a{
    text-decoration: none;
    padding:30px;
    color: white;
}
.menu ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-name h3 {
    font-size: 24px; 
}


.menu ul {
    font-size: 18px; 
}

.menu a:hover{
    color:navy;
    background-color: white;
}
/* Header End Here. */

.hero{
    background-color: rgb(62, 211, 233);
    height: 100vh;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-content h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom:30px;
}
.hero-content h1{
    font-size: 80px;
    margin-bottom:3dvh;
}
.hero-content h3{
    font-size: 30px;
    margin-bottom:60px;
}
.hero .hero-btn a{
    text-decoration: none;
    color: white;
    border: 1px solid rgb(48, 48, 225);
    background-color: rgb(48, 48, 225);
    padding: 15px;
    border-radius: 10px;
}
.hero-btn a:hover{
    color:rgb(48, 48, 225);
    background-color: white;
}   

/* Hero End Here. */